.App {
    height: 100%;
}

footer {
    height: 10%;
    background: radial-gradient(transparent, rgba(255, 255, 255, .2));
    box-shadow: 0 -4px 0 rgba(255, 255, 255, .4);
    border-top: 2px solid rgba(255, 255, 255, .5);
}